[submodule "dep/redmic-flag-icon-css"]
	path = dep/redmic-flag-icon-css
	url = ../../third-party/flag-icon-css.git
	branch = master
	ignore = dirty
[submodule "dep/font-redmic"]
	path = dep/font-redmic
	url = ../../Font-Redmic.git
	branch = master
	ignore = dirty
