// Dependencias base
@import 'src/nib'
global_reset()

// Resetea el estilo del navegador
//@import 'src/Reset'

// Definiciones
@import 'src/Variables'
@import 'src/Functions'
@import 'src/Main'

// Dependencias
@import 'src/Dijit'
@import 'src/Bootstrap'

// Plantilla
@import 'src/Icon'
@import 'src/layout'
@import 'src/form'

// Externos
@import 'src/Alertify'
@import 'src/Dropzone'
@import 'submodules/redmic-flag-icon-css/css/flag-icon.min.css'
@import 'submodules/font-redmic/build/font-redmic.css'
@import 'src/ColorPicker'
@import 'submodules/leaflet-measure/dist/leaflet-measure.css'
@import 'submodules/leaflet-draw/dist/leaflet.draw.css'
@import 'submodules/animate/animate.min.css'
@import 'submodules/Leaflet-MiniMap/dist/Control.MiniMap.min.css'

// Custom de Redmic
@import 'src/redmic'
@import 'src/redmic-widgets'
@import 'src/resolution'
