// Dependencias base
@import 'src/nib'
global_reset()

// Resetea el estilo del navegador
//@import 'src/Reset'

// Dependencias previas
@import 'src/Bootstrap'

// Definiciones
@import 'src/Variables'
@import 'src/Functions'
@import 'src/Main'

// Dependencias
@import 'src/Dijit'

// Plantilla
@import 'src/Icon'
@import 'src/layout'
@import 'src/form'

// Externos
@import 'src/Alertify'
@import 'src/Dropzone'
@import 'dep/font-redmic/build/font-redmic.css'
@import 'src/ColorPicker'
@import 'dep/leaflet-measure/dist/leaflet-measure.css'
@import 'dep/leaflet-draw/dist/leaflet.draw.css'
@import 'dep/animate/animate.min.css'
@import 'dep/Leaflet-MiniMap/dist/Control.MiniMap.min.css'

// Custom de Redmic
@import 'src/redmic'
@import 'src/redmic-widgets'
