.containerFacets
	fondo textura hard
	height 100%
	border-radius 5px
	overflow-y auto
	fontSize 0.9rem

	.dijitArrowNodeInner
		display initial !important

	.dijitTitlePaneTitleFocus
		cursor pointer

	.dijitTitlePane
		padding 5px 10px
		//line-height 1.4

	.dijitTitlePaneTextNode
		margin-left 5px
		font-weight bold

	.bucket
		margin-left 10px
		margin-top 5px
		.containerBucket
			display flex
			align-items center
			margin-bottom 5px
			.flag
				width 1.3rem
				height 1.2rem
				padding-left 1.2rem
			.labelBucket
				font-weight normal
				margin 0
				margin-left 5px
			input
				cursor pointer
				min-width 13px
.flag-icon-en
	@extend .flag-icon-gb