.containerFilteringSelect
	border 1px solid $inputBorder
	border-radius 5px
	background-color $color1

	&:focus-within
		@extend .db .dijitTextBoxFocused

	.textSearch
		width calc(100% - 3.2rem)
		border-radius 5px 0 0 5px
		border-right 1px solid $inputBorder
		padding 0

		.fa-times
			position absolute
			right 0.8rem

		.autocomplete
			position absolute
			color $color6
			pointer-events none

		input
			width calc(100% - 2rem)
			height 2rem
			border-radius inherit

		.innerButtons
			justify-content center

			*
				&:last-child
					padding-right 0
					border-right none

	.buttonSearch
		display flex
		border-radius 0 5px 5px 0
		align-items center
		justify-content center
		height auto
		width 2.5rem
		cursor pointer

		&:hover
			background-color $blue

	.disable
		opacity 0.4
		&
		input
		.fa-times
			cursor not-allowed

		&:hover
			background-color initial

		.fa-times
			&:hover
				color white

	.notValid
		border-color $red !important

// TODO unificar con suggestions
.filteringResult
	flexible v center left
	position absolute
	z-index 999
	margin-top 3.1rem
	border-radius 5px
	box-shadow 0 5px 10px rgba($white, .5)
	border 1px solid rgba($black, .5)
	border-top none
	> span
		padding 5px
		color $black
		cursor pointer
		img
			width 15px
			height 15px
	.suggestion
		&:nth-child(odd)
			background-color #fff
		&:nth-child(even)
			background-color #eee
		display flex
		align-items center
		.spanTemplate .subtitle
			color #999
		img
			width 30px
			height 30px
			border-radius 10px

	.spanPagination
		background-color #bbb !important
		display flex
		justify-content center
		font-weight 600
		&:hover
			fondo color $blue

	.borderResult
		&:first-child
			border-radius 5px 5px 0 0
		&:last-child
			border-radius 0 0 5px 5px

	.hover
		background-color $blue !important
		span
			color $white !important

.notFormZone .containerFilteringSelect .buttonSearch
	height 2.8rem

.containerFilteringSelectRegister
	.textSearch
	.buttonSearch
		background-image none
