.mapSearch
	height 12.75rem
	width 17rem
	margin 0
	border-radius 5px
	box-shadow 0 5px 10px rgba(0,0,0,0.2)

	.leaflet-pane
		z-index 0 !important

.mapSearchInput
	.leftContainer
		align-self end
	.rightContainer
		height 15rem
