@import '../../submodules/dojox/form/resources/RangeSlider.css'

.rangeSlider
.sliderInput
.progressSlider
	.dijitSliderH
		.dijitSliderBarH
			height 5px
			border-radius 5px

		.dijitSliderImageHandleH
			border-radius 10px
			width 12px
			height 12px
			top -4px

		.dojoxRangeSliderBarContainer
			margin 5px

		.dijitSliderIncrementIconH, .dijitSliderDecrementIconH
			display none

	.dojoxRangeSlider
		//border 1px solid #ccc
		border-radius 5px

	display flex
	justify-content center
	.control-input
		padding 0 5rem
	.form-control
		background-color transparent
		border none

		.horizontalRuleLabelsForm
			left -3px
			> .dijitRuleLabelContainerH
				box-shadow none
				background-color transparent
				top 6px
				left -3px
				color #fff

	.dijitRuleMark
		top -0.5rem

.sliderInput
	.dijitSliderH
		.dijitSliderBarContainerH
			margin 5px 0px 5px 0px

.rangeSlider
.sliderInput
	margin 0
	margin-bottom 2rem
	margin-right 3rem
	.horizontalRuleLabelsForm, .horizontalRuleForm
		.form-control
			border none
			.dijitRuleMark
				top -1rem

		.dijitRuleMarkH
			height 0.7em

	.horizontalRuleLabelsForm
		left -4px
		padding-top 5px
		height 1rem
		.dijitRuleLabelsContainerH
			box-shadow none
			background-color transparent
			top -5px
			left -3px
			color #fff

	.dijitRuleContainer
		margin 0 7px

	.dijitSliderH
		@extend .mediumSolidContainer
		//background-image $linen-light

	.sliderForm, .horizontalRuleForm, .horizontalRuleLabelsForm
		.control-input
			padding 0 5rem

	.dijitSliderLeftBumper
		background none !important

.rangeSlider
	margin-right 0rem
	.containerWidget
		display flex
		flex-wrap wrap
		align-items center
		.dijitTextBox
			//height 2rem
			flex 1 2 1rem
		.containerSlider
			flex 4 1 20rem
			margin 0 1rem

.progressSlider
	width 100%
	flex-wrap wrap
	justify-content center
	align-items center

	.dijitSlider
		margin 0 0.5rem 0 1.5rem
	.dijitSliderBumperH .dijitSliderLeftBumper
		display none
	.dijitSliderBarContainerH
		margin 0
	.dijitSliderH
		background black
		border-radius 5px
		display flex
		flex-grow 1
		.dijitSliderImageHandleH
			margin -1px
	.fa-pause
	.fa-play
		width 14px

	.dijitSliderBumperH
		width 5px
		box-shadow none !important

	tbody
		width 100%

	tbody, .dijitSliderBumperH, .dijitSliderH .dijitSliderBarH, .dijitSliderLeftBumper
		height 5px

	.dijitSliderH .dijitSliderBarH
		border-radius 0 5px 5px 0

	.button .dijitButtonNode
		padding 0 1rem !important
		fontSize 1.2rem

	.dijitButton
		margin 0 0.3rem

	.containerBar
		display flex
		flex-direction column
		flex-grow 1
		padding-top 1rem
		min-width 10rem

		.containerLimit
			display flex
			justify-content space-between
			margin 0.5rem 0.5rem 0.5rem 1.5rem
			span
				fontSize 1rem

	.containerValue
		padding 0 0.5rem
		fontSize 1.2rem
		display flex
		text-align center
		align-items center
		justify-content center
		min-width 3rem

.tooltipDialogSlider
	.dijitTooltipConnector
		border-bottom-color white !important
	.popupSliderValue
		background-color #eee !important
		background-image none !important
		color black
		padding 0px 5px !important

.configButton
	font-size 2rem
	margin 0 2rem
	cursor pointer
	&:hover
		i
			color $blue

.stepAndRateEditor
	width 18rem
	> span
		@extends .titleRedmic
		color white

	.rate
		margin-bottom 10px
		span
			display flex
			align-items center

.rate, .valueAndUnitSelector
	display flex
	justify-content space-around
	margin-top 0.7rem
	cursor default
	&:hover
		i, span
			color white

.valueAndUnitSelector .dijitNumberTextBox, .rate .dijitNumberTextBox
	width 12rem
	height 2.5rem
	.dijitInputContainer, .dijitSpinnerButtonContainer, .dijitSpinnerButtonInner
		color white
		@extends .fHeight
	.dijitInputContainer
		padding 0px 4px
		.dijitInputInner
			width calc(100% - 8px) !important
			text-align center

.valueAndUnitSelector
	flex-direction row
	.selectOption
		.form-control
			background-image $linen-light
			color white
		option
			background gray
		display flex
		justify-content flex-start
		align-items center
	.dijitNumberTextBox
		width 12rem
		margin-right 1rem

.valueAndUnitSelectorForm
	justify-content flex-start
	margin-top: 0
	.dijitNumberTextBox
		margin-right 1rem
	.dijitNumberTextBox, .selectOption select
		height 2.5rem

.popupCreate
	position absolute
	z-index 10
	background-color white
	color black
	border-radius 5px
	border 1px solid black
	padding 2px

.popupProgressBarPlay
	padding 1px