.containerTextSearch
	display flex
	flex-grow 1
	background-color $color2
	border-radius 5px
	color $white

	.innerButtons
	.outerButtons
		display flex
		align-items center

		.clearTextButton
		.expandSearchButton
		.searchButton
			@extend .fa
			cursor pointer
			width 1.5rem
			display flex
			justify-content center

	.textSearch
		position relative
		display flex
		flex-grow 1
		padding 0.5rem 0

		.innerButtons
			*
				&:not(:last-child)
					padding-right 0.25rem

				&:last-child
					padding-right 0.5rem
					border-right 1px solid $gray

		.clearTextButton
			&:hover
				color red
			&:before
				@extend .fa-times:before

		input
			width 100%
			border none
			padding-left 0.4rem
			background-color inherit
			color inherit

	.outerButtons
		.expandSearchButton
		.searchButton
			padding 0 0.5rem

			&:hover
				color $blue

		.searchButton
			&:before
				@extend .fa-search:before

		.expandSearchButton
			&:before
				@extend .fa-ellipsis-v:before

		> :not(:last-child)
			border-right 1px solid $grayLighter

	&.suggestionsShown
		.textSearch
			border-radius 5px 0 0 0
		.outerButtons
			border-radius 0 5px 0 0


.suggestions
	position absolute
	margin-top 2.3rem
	display flex
	flex-direction column
	flex-grow 1
	z-index 999
	border-radius 0 0 5px 5px
	box-shadow inset 0 0 22px -11px rgba($black,0.5)
	background-color $color2
	max-height 40%
	overflow auto

	span
		color $white
		padding 5px
		cursor pointer
		border-top 1px solid rgba($white, 0.1)

		&:last-child
			border-radius 0 0 5px 5px

		em
		b
			fontSize 1.2
			color $blue

		&:hover
			background-color $blue

			em
			b
				color $blueDark

		img
			width 15px
			height 15px
