.containerTextSearch
	display flex
	flex-grow 1

	.textSearch
		position relative
		width calc(100% - 2rem)
		.fa-times
			position absolute
			z-index 3
			color black
			cursor pointer
			margin-top 0.5rem
			right 0.5rem
			&:hover
				color red

		input
			border none
			width 100%
			height 2rem
			padding 0
			padding-left 0.7rem
			padding-right 2.5rem
			background transparent
		.autocomplete
			position absolute
			z-index 0
			color grey
		.inputSearch
			background-color #fff
			color black
			border-radius 5px 0 0 5px
			position relative
			z-index 2
			border-radius 5px 0 0 5px
			top 0

	.buttonSearch
		flexible v center center
		border-radius 0 5px 5px 0
		width 2rem
		height 2rem
		border-left none
		cursor pointer
		background-color rgba(4, 156, 219, 0.5)
		&:hover
			fondo color $blue
			.fa-search
				font-size 16px
	.hover
		background-image linear-gradient(to bottom, $blue, $blue)
		color white !important

.suggestions
	position absolute
	margin-top 2.1rem

	z-index 999
	width calc(100% - 2px)
	flexible v center left

	border-radius 5px
	box-shadow inset 0 0 22px -11px rgba(0,0,0,0.5)
	border 1px solid silver

	background-color white
	span
		color black
		padding 5px
		cursor pointer
		border-top 1px solid rgba(0, 0, 0, 0.1)
		&:last-child
			border-radius 0 0 5px 5px
		img
			width 15px
			height 15px
	.hover
		background-image linear-gradient(to bottom, $blue, $blue)
		color white !important
