/*
	Plantilla para definir todos los contenedores comunes.
*/

// Principales

.masterContainer
	width inherit
	height inherit
	position absolute
	top 0
	left 0

.centerContentContainer
	fullSize()
	flexible v center center
	noScroll()

.underConstructionContainer
	@extend .centerContentContainer
	fontSize 20rem
	:nth-child(2)
		fontSize 5rem
		margin-top 10px

#error404Container
	@extend .masterContainer
	fondo imagen $login-image

	div
		@extend .centerContentContainer
		fondo color rgba(red,0.3)
		fontSize 10rem
		:nth-child(2)
			fontSize 5rem
			margin-bottom 10px
		:nth-child(3)
			fontSize 2rem

#fullScreenContainer
	@extend .masterContainer

#loadingContainer
	@extend .masterContainer
	@extend .centerContentContainer
	fondo color rgba($black,0.5)
	z-index $loadingAndLockedZIndex
	fontSize $loadingFontSize

#rootContainer
	@extend .masterContainer
	overflow hidden

// Estructura

.defaultContainer
	miniPadded()
	miniMargined()
	bordeRedondeado()
	sombreadoCaja o
	sombreadoTexto()
	colorTexto()

.wrapContainer
	miniMargined()
	noPadding()
	bordeRedondeado()
	sombreadoCaja()

.sharpContainer
	miniPadded()
	miniMargined()
	sombreadoCaja o
	sombreadoTexto()
	colorTexto()

.separatorContainer
	miniPadded()
	sombreadoCaja i

.marginedContainer
	miniMargined()

.marginedSizeContainer
	margin 0 5px

.marginBottomContainer
	margin-bottom 5px



// Decoración

.hardSolidContainer
	fondo color $black

.mediumSolidContainer
	fondo color $color5

.softSolidContainer
	fondo color $color1

.hardTranslucentContainer
	fondo color rgba($black, $mediumOpacity)

.mediumTranslucentContainer
	fondo color rgba($color5, $lowOpacity)

.softTranslucentContainer
	fondo color rgba($color1, $lowOpacity)

.invertedContainer
	colorTexto inv
	sombreadoTexto inv



// Específicos

// Contenedor global
.mainContainer
	width inherit
	height inherit

// Contenedor de pantalla completa
.fullscreenContainer
	top 0
	left 0
	fullSize()
	noMargin()
	noPadding()
	fondo color $color10

// Contenedor de la zona principal de contenido
.contentContainer
	display flex
	flex-direction column
	position absolute
	left 0
	width 100%
	top $topbar-default-size
	@media (max-width $media-high-size)
		top $topbar-high-size
	@media (max-width $media-medium-size)
		top $topbar-medium-size
	@media (max-width $media-low-size)
		top $topbar-low-size
	height "calc(100% - %s)" % $topbar-default-size
	@media (max-width $media-high-size)
		height "calc(100% - %s)" % $topbar-high-size
	@media (max-width $media-medium-size)
		height "calc(100% - %s)" % $topbar-medium-size
	@media (max-width $media-low-size)
		height "calc(100% - %s)" % $topbar-low-size

	> *
		padding $contentContainerChildPadding !important
		max-width "calc(100% - 2 * %s) !important" % $contentContainerChildPadding
		max-height "calc(100% - 2 * %s) !important" % $contentContainerChildPadding

body.uncollapsedSidebar
	.contentContainer
		left $sidebar-default-size
		@media (max-width $media-high-size)
			left $sidebar-high-size
		@media (max-width $media-medium-size)
			left 0
		width "calc(100% - %s)" % $sidebar-default-size
		@media (max-width $media-high-size)
			width "calc(100% - %s)" % $sidebar-high-size
		@media (max-width $media-medium-size)
			width 100%


// Contenedor de posición absoluta
.absoluteContainer
	position absolute

// Contenedor de posición relativa
.relativeContainer
	position relative

// Contenedor con barra de scroll
.scrolledContainer
	overflow auto

// Contenedor sin barras de scroll
.noScrolledContainer
	noScroll()

// Contenedor para las imágenes
.photoFrameContainer
	position relative

// Contenedor para las miniaturas de las capas del mapa
.layerThumbnailContainer
	noPadding()
	width $layerThumbnailWidth
	height $layerThumbnailHeight
	border $borderTypeFat $white
	cursor pointer

// Medallones
.badge
	border-radius $semi
	box-shadow $sombra-s $nano 0 rgba($white, $highOpacity)
	color $white
	sombreadoTexto()
	bordeOscuro()
	miniPadded h
	&.blue
		fondo color $blue
	&.black
		fondo color $black
	&.gray
		fondo color $grayDark
	&.green
		fondo color $green
	&.red
		fondo color $red

.topMarginedContainer
	margin-top $big

.flexibleCenteredContainer
	flexible h center center

.dgridPlaceHolderContainer
	fullSize()
	flexible h center center
	megaPadded v
	fontSize $bigFontSize

.scrollWrapper
	fondo color $color13
	display flex
	noScroll()

.mapSideContainer
	noPadding()


.twoColumnsLayout
	display flex
	justify-content space-between
	align-items stretch

.leftZone
	display flex
	flex-flow column
	flex-grow 1

.rightZone
	display flex
	flex-flow column
	flex-grow 1
	.containerList > .contentList
		border-radius 5px

.stretchZone
	//margin-top 0.5rem
	display flex
	flex-grow 1
	.containerList > .contentList
		border-radius 5px

.rounded
	bordeRedondeado()

.flexAndAlignCenter
	display flex
	align-items center

.flex
	display flex

.titleContainer
	margin-bottom 5px
	padding 0 5px
	height 30px
	display flex
	align-items center

.barSliderContainer
	min-height 4rem
	overflow hidden !important

.templateDisplayer
	width 100%

.infoView
	display flex
	flex-direction column
	height "calc(100% - %s)" % (2 * $contentContainerChildPadding)

	.infoTitle
		display flex
		flex-direction column
		justify-content space-between
		align-items center
		margin .3rem
		border-radius 5px
		box-shadow 0 20px 10px -5px rgba(0,0,0,0.25)
		fondo degradado topbar
		box-shadow none
		padding 1rem

		.title
		.buttons
			display flex
			width 100%

		.title
			margin-bottom 1rem
			display flex
			align-items center
			flex-grow 1

			.header
				h1
					margin 0
					multiTextEllipsis()
					color $yellowTitleRedmic

		.buttons
			justify-content space-between
			flex-wrap wrap

			.right
				display flex
				right 5rem
				box-shadow 0 0 10px 0 rgba(0,0,0,0.5),inset 0 0 1px rgba(255,255,255,0.5)
				border 1px solid rgba(255,255,255,0.3)
				top 1.5rem
				justify-content center
				align-items center
				padding 6px
				border-radius 5px

				& > i
				& > a
					color #fff
					padding 0 5px

			.left
			.right
				padding .4rem

				& > i
				& > a
					color #fff
					margin 0 5px

					&.fa-close:hover
						color red

		.titleParent
			margin 0 0.7rem
			span
				margin 0 !important
				color #fff
			&:hover
				span
					color $blue

		.centerTitle
			flex-direction column
			justify-content center

			.center
				width 100%

	.infoContainer
		flex-grow 1
		display flex
		flex-direction row
		flex-wrap wrap
		align-items stretch
		align-content stretch
		justify-content flex-start
		overflow-y auto
		overflow-x hidden

		.view
			@extend .fHeight
			padding 0.3rem
			background-color gray

		.moduleWindow
			@extend .fHeight
			background linear-gradient(bottom, $colorGrayBlack, $color13)

		& > div
		.moduleWindow
			display flex
			flex-direction column
			flex-grow 1

		& > div
			flex-shrink 1
			margin $moduleWindowMargin
			overflow hidden
			transition-property height, width
			transition-duration .3s

			&:not([data-rows="fitContent"])
				max-height calc(100% - .3rem)

			$cols = 6
			for col in 1..$cols
				&[data-cols=\"{col}\"]:not(.resizedByUser)
					$newWidth = (100% / $cols) * col
					width "calc(%s - %s)" % ($newWidth (2 * $moduleWindowMargin))

			$rows = 6
			for row in 1..$rows
				&[data-rows=\"{row}\"]:not(.resizedByUser)
					height $detailsRowHeight * row + (2 * $moduleWindowMargin) * (row - 1)

		& > div.resizedByUser
			max-width "calc(100% - %s)" % (2 * $moduleWindowMargin)

		.moduleWindow.resizable
			padding-bottom $moduleWindowButtonSize
			resize both
			overflow hidden
			max-width 100%
			min-width $detailsWindowMinWidth - $moduleWindowButtonSize
			min-height $detailsRowHeight - $moduleWindowButtonSize
			border-radius 5px 5px 0 5px

			.windowContent
				padding 0 2px

		.moduleWindow
			.windowTitle
				fondo degradado topbar
				border-radius 5px 5px 0 0
				display flex
				align-items center
				justify-content space-between
				cursor grab

				.title
					color $yellowTitleRedmic
					font-weight bold
					padding-left 1rem
					cursor inherited
					textEllipsis()

				.buttons
					min-width 5rem

					& > i
						width $moduleWindowButtonSize
						height $moduleWindowButtonSize
						text-align center
						vertical-align middle
						margin 0 0.2rem
						cursor pointer
						color gray

						&:hover
							color $blue
						&.fa-close:hover
							color red

			.windowContent
				display flex
				position relative
				transition height .3s linear
				border-radius 0 0 5px 5px

				& > :first-child
					@extend .fWidth
					@extend .fHeight
					overflow auto

			.windowWithoutTitleContent
				border-radius 5px !important

				& > :first-child
					border-radius 5px

.speciesDetailsTitle
	display flex
	align-items center

	& > :first-child
		margin-right 1rem
		fontSize 5rem

	& > :nth-child(2)
		width calc(100% - 8rem)

	& > :last-child
		display flex
		flex-direction column
		align-items space-between

		& > *
			margin 5px

		& > :first-child

			& > :last-child
				margin-left 5px
	h1
		multiTextEllipsis()
		color $yellowTitleRedmic

.imageContainer
	display flex
	justify-content center
	align-items center
	background-color $white
	flex-grow 1
	& > img
		max-width calc(100% - 10px)
		max-height calc(100% - 10px)

.imageContainerEdit
	flex-direction column
	@extend .fHeight
	border-radius 0px 0px 5px 5px
	> img
		max-height calc(100% - 10rem)
		cursor pointer
	> span
		color black
		margin-top 1rem
		cursor pointer
		&:hover
			color $blue

.legendContainer
.tagListBottomContentContainer
	@extend .imageContainer
	background none
	border-top 1px solid $gray
	padding .5rem
	margin-bottom .5rem

.atlasLayerInfoMessage
	padding 5px
	fontSize 2rem
	text-align center

.viewerPDF
	width 100%
	height 99.4%

.viewerPDFAuthFailed
	@extend .fHeight
	@extends .flexibleCenteredContainer
	flex-direction column
	fontSize 1.8rem
	i
		margin-bottom 2rem

.flexContainerColumn
	display flex
	flex-direction column

.flexContainer
	display flex
	flex-grow 1

.marginBottomContainer
	margin-bottom 1rem

.compositeSearch
.compositeSearchInTooltip
.editorLayerStyle
	@extend .fHeight
	display flex

.compositeSearchInTooltip
	max-height 50rem

.editorLayerStyle
	@extend .softSolidContainer
	display flex
	flex-direction column
	.titleStyleContainer
		padding 1rem
		padding-left 3rem
		span
			fontSize 1.6rem
			color #ffd700
			font-weight bold
	.selectInputContainer
		padding 2rem
		border-bottom 3px solid #color5
		> div
			display flex
			flex-direction column
			.leftContainer
				display flex
				align-items center
				margin-bottom 5px

	.optionsContainer
		display flex
		flex-direction row
		padding 5px 1rem
		> div
			height 3rem
			width 50%
			display flex
			justify-content center
			align-items center
			margin 0 5px
			border-bottom 1px solid white
			cursor pointer
			&.active
				border-bottom 1px solid $blue
				color $blue

	.formStyleContainer
		flex-grow 3
		display flex
		flex-direction column

.rangeSearch
	border 1px solid rgba($white, 0.7)
	border-radius 5px
	padding 0.3rem 1rem
	display flex
	justify-content flex-start
	min-width 31rem
	> div
		display flex
		align-items center
		width 16rem
		> div
			width 8rem

.kibana-dashboard
	width calc(100% - 4px)
	height calc(100% - 8px)

.embeddedContent
	@extend .fWidth
	@extend .fHeight

.missingEmbeddedContent
	@extend .fWidth
	@extend .fHeight
	display flex
	flex-flow column
	justify-content center
	align-items center

	& > i
		fontSize 6rem

	& > span
		fontSize 1.5rem
		text-align center

.containerSelectionBox
	display flex
	align-items center

	.seeSelection
		display flex
		align-items center
		margin-left 0.5rem

		> span
			padding-right 1rem

		select
			min-width 9rem

		&.active
			select
				border-color $blue !important

	.selectionBox
		cursor default
		display flex
		align-items center
		padding 0 4px
		justify-content space-between

.tagListContainer
	display flex
	flex-wrap wrap

	.tagListItem
		border 1px solid $white
		border-radius 1rem
		padding .2rem 1rem
		margin .3rem
		cursor pointer

		&.selected
			background-color $blue

		&:hover
			background-color lighten($blue, 10%)
