/*
	Plantilla para definir todos los contenedores comunes.
*/

// Principales

.masterContainer
	width inherit
	height inherit
	position absolute
	top 0
	left 0

.centerContentContainer
	fullSize()
	flexible v center center
	noScroll()

.underConstructionContainer
	@extend .centerContentContainer
	fontSize 20rem
	:nth-child(2)
		fontSize 5rem
		margin-top 10px

#error404Container
	@extend .masterContainer
	fondo imagen $login-image

	div
		@extend .centerContentContainer
		fondo color rgba(red,0.3)
		fontSize 10rem
		:nth-child(2)
			fontSize 5rem
			margin-bottom 10px
		:nth-child(3)
			fontSize 2rem

#fullScreenContainer
	@extend .masterContainer

#loadingContainer
	@extend .masterContainer
	@extend .centerContentContainer
	fondo color rgba($black,0.5)
	z-index $loadingAndLockedZIndex
	fontSize $loadingFontSize

#rootContainer
	@extend .masterContainer
	min-width 300px
	min-height 300px

// Estructura

.defaultContainer
	miniPadded()
	miniMargined()
	bordeRedondeado()
	sombreadoCaja o
	sombreadoTexto()
	colorTexto()

.wrapContainer
	miniMargined()
	noPadding()
	bordeRedondeado()
	sombreadoCaja()

.sharpContainer
	miniPadded()
	miniMargined()
	sombreadoCaja o
	sombreadoTexto()
	colorTexto()

.separatorContainer
	miniPadded()
	sombreadoCaja i

.marginedContainer
	miniMargined()

.marginedSizeContainer
	margin 0 5px

.marginBottomContainer
	margin-bottom 5px



// Decoración

.hardTexturedContainer
	fondo textura hard

.mediumTexturedContainer
	fondo textura medium

.softTexturedContainer
	fondo textura soft

.hardSolidContainer
	fondo color $black

.mediumSolidContainer
	fondo color $color5

.softSolidContainer
	fondo color $white

.hardTranslucentContainer
	fondo color rgba($black, $mediumOpacity)

.mediumTranslucentContainer
	fondo color rgba($color5, $lowOpacity)

.softTranslucentContainer
	fondo color rgba($white, $lowOpacity)

.invertedContainer
	colorTexto inv
	sombreadoTexto inv



// Específicos

// Contenedor global
.mainContainer
	width inherit
	height inherit

// Contenedor de pantalla completa
.fullscreenContainer
	top 0
	left 0
	fullSize()
	noMargin()
	noPadding()
	fondo color $color10

// Contenedor de la zona principal de contenido
.contentContainer
	display flex
	flex-grow 1

	> *
		padding 0.5rem
		@media (max-width $media-high-size)
			padding 0.4rem
		@media (max-width $media-medium-size)
			padding 0.3rem
		@media (max-width $media-low-size)
			padding 0.2rem


// Contenedor de posición absoluta
.absoluteContainer
	position absolute

// Contenedor de posición relativa
.relativeContainer
	position relative

// Contenedor con barra de scroll
.scrolledContainer
	overflow auto

// Contenedor sin barras de scroll
.noScrolledContainer
	noScroll()

// Contenedor para las imágenes
.photoFrameContainer
	position relative

// Contenedor para las miniaturas de las capas del mapa
.layerThumbnailContainer
	noPadding()
	width $layerThumbnailWidth
	height $layerThumbnailHeight
	border $borderTypeFat $white
	cursor pointer

// Medallones
.badge
	border-radius $semi
	box-shadow $sombra-s $nano 0 rgba($white, $highOpacity)
	color $white
	sombreadoTexto()
	bordeOscuro()
	miniPadded h
	&.blue
		fondo color $blue
	&.black
		fondo color $black
	&.gray
		fondo color $grayDark
	&.green
		fondo color $green
	&.red
		fondo color $red

// Contenedor de errores
.errorContainer
	fullSize()
	background-position center
	background-repeat no-repeat
	background-size 35% 35%
	&.error404
		fondo imagen $404-image

.topMarginedContainer
	margin-top $big

.flexibleCenteredContainer
	flexible h center center

.dgridPlaceHolderContainer
	fullSize()
	flexible h center center
	megaPadded v
	fontSize $bigFontSize

.scrollWrapper
	fondo textura hard
	noScroll()

.mapSideContainer
	noPadding()


.twoColumnsLayout
	display flex
	justify-content space-between
	align-items stretch

.leftZone
	display flex
	flex-flow column
	flex-grow 1

.rightZone
	display flex
	flex-flow column
	flex-grow 1
	.containerList > .contentList
		border-radius 5px

.stretchZone
	//margin-top 0.5rem
	display flex
	flex-grow 1
	.containerList > .contentList
		border-radius 5px

.rounded
	bordeRedondeado()

.flexAndAlignCenter
	display flex
	align-items center

.flex
	display flex

.titleContainer
	margin-bottom 5px
	padding 0 5px
	height 30px
	display flex
	align-items center

.barSliderContainer
	display flex
	min-height 4rem
	padding 0.3rem

.templateDisplayer
	width 100%

.infoView
	display flex
	flex-direction column

	.infoTitle
		position relative
		display flex
		align-items center
		margin 0.3rem
		border-radius 5px
		box-shadow 0 20px 10px -5px rgba(0,0,0,0.25)
		min-height 10rem

		.tabs, .right
			position absolute
			display flex
			right 5rem
			box-shadow 0 0 10px 0 rgba(0,0,0,0.5),inset 0 0 1px rgba(255,255,255,0.5)
			border 1px solid rgba(255,255,255,0.3)

		.tabs
			bottom 0
			border-bottom none
			border-radius 5px 5px 0 0
			.tab
				cursor pointer
				display flex
				justify-content center
				align-items center
				width 10rem
				height 3rem
				border-right 1px solid rgba(255,255,255,0.3)
				background-color #222
				a
					color #ddd
					width 100%
					height 100%
					display flex
					justify-content center
					align-items center
				&:hover
					background-color #494852
			& > .tab:first-child
				border-top-left-radius 5px
			& > .tab:last-child
				border-right none
				border-top-right-radius 5px
			.tabSelect
				background-color $blue
				a
					color #fff
				&:hover
					background-color $blue

		.left
		.right
			padding 0 1rem

			& > i, & > a
				color #fff
				margin 0 5px

				&.fa-close:hover
					color red

		.right
			top 1.5rem
			justify-content center
			align-items center
			padding 6px
			border-radius 5px

			& > i, & > a
				color #fff
				padding 0 5px

		.center
			display flex
			align-items center
			width calc(100% - 18rem)

			.header
				@extend .titleRedmic
				h1
					margin 0
					textEllipsis()

		.infoTitleBackground
			fondo degradado topbar
			box-shadow none

		.titleParent
			margin 0 0.7rem
			span
				margin 0 !important
				color #fff
			&:hover
				span
					color $blue

		.centerTitle
			flex-direction column
			justify-content center

			.center
				width 100%

		.title
			margin 0
			width 100%
			border-radius 5px

	.infoContainer
		flex-grow 1
		display flex
		flex-direction row
		flex-wrap wrap
		align-items stretch
		align-content stretch
		justify-content flex-start
		overflow-y overlay
		overflow-x hidden

		.view
			@extend .fHeight
			padding 0.3rem
			background-image $linen-light

		.moduleWindow
			@extend .fHeight

		& > div, .moduleWindow
			display flex
			flex-direction column
			flex-grow 1

		& > div
			flex-shrink 1
			margin $moduleWindowMargin
			overflow hidden
			transition-property height, width
			transition-duration .3s

			$cols = 6
			for col in 1..$cols
				&[data-cols=\"{col}\"]:not(.resizedByUser)
					$newWidth = (100% / $cols) * col
					width "calc(%s - %s)" % ($newWidth (2 * $moduleWindowMargin))

			$rows = 6
			for row in 1..$rows
				&[data-rows=\"{row}\"]:not(.resizedByUser)
					height 90px * row + (2 * $moduleWindowMargin) * (row - 1)

				&[data-percentage-rows=\"{row}\"]:not(.resizedByUser)
					$newHeight = (100% / $rows) * row
					height "calc(%s - %s)" % ($newHeight (2 * $moduleWindowMargin))

		& > div.resizedByUser
			max-width "calc(100% - %s)" % (2 * $moduleWindowMargin)

		.moduleWindow.resizable
			padding-bottom $moduleWindowButtonSize + 0.1
			resize both
			overflow hidden
			max-width 100%
			min-width 100px
			min-height 100px
			border-radius 5px 5px 0 5px
			background linear-gradient(bottom, $colorGrayBlack, $color13)

			.windowContent
				padding 0 2px

			.resizeHandle
				position absolute
				bottom 0
				right 0
				width $moduleWindowButtonSize
				height $moduleWindowButtonSize
				color gray
				background-color $colorGrayBlack
				pointer-events none

			.resizeHandle:before
				@extend .fa
				@extend .fa-sort:before
				transform translate(0.25rem, -0.13rem) scale(1.2) rotate(-45deg)

		.moduleWindow
			.windowTitle
				fondo degradado topbar
				border-radius 5px 5px 0 0
				display flex
				align-items center
				justify-content space-between
				cursor -webkit-grab
				cursor grab

				.title
					font-weight bold
					padding-left 1rem
					cursor inherited

				.buttons
					padding-right 0.5rem

					& > i
						width $moduleWindowButtonSize
						height $moduleWindowButtonSize
						text-align center
						vertical-align middle
						margin 0 0.2rem
						cursor pointer
						color gray

						&:hover
							color $blue
						&.fa-close:hover
							color red

			.windowContent
				display flex
				transition height .3s linear
				border-radius 0 0 5px 5px

				& > :first-child
					@extend .fWidth
					@extend .fHeight
					overflow auto

			.windowWithoutTitleContent
				border-radius 5px !important

				& > :first-child
					border-radius 5px

.speciesDetailsTitle
	display flex
	align-items center

	& > :first-child
		margin-right 1rem
		fontSize 5rem

	& > :nth-child(2)
		width calc(100% - 8rem)

	& > :last-child
		display flex
		flex-direction column
		align-items space-between

		& > *
			margin 5px

		& > :first-child

			& > :last-child
				margin-left 5px
	h1
		textEllipsis()

.imageContainer
	display flex
	justify-content center
	align-items center
	background-color white
	flex-grow 1
	& > img
		max-width calc(100% - 10px)
		max-height calc(100% - 10px)

.imageContainerEdit
	flex-direction column
	@extend .fHeight
	border-radius 0px 0px 5px 5px
	> img
		max-height calc(100% - 10rem)
		cursor pointer
	> span
		color black
		margin-top 1rem
		cursor pointer
		&:hover
			color $blue

.appDev
	background linear-gradient(top, $pink, $red) !important

.atlasLayerInfoMessage
	padding 5px
	fontSize 2rem
	text-align center

.viewerPDF
	width 100%
	height 99.4%

.viewerPDFAuthFailed
	@extend .fHeight
	@extends .flexibleCenteredContainer
	flex-direction column
	fontSize 1.8rem
	i
		margin-bottom 2rem

.flexContainerColumn
	display flex
	flex-direction column

.flexContainer
	display flex
	flex-grow 1

.marginBottomContainer
	margin-bottom 1rem

.containerFormAndKeypad
	display flex
	flex-direction column

.compositeSearch, .compositeSearchInTooltip, .editorLayerStyle
	@extend .fHeight

.compositeSearchInTooltip
	max-width 30rem

.compositeSearch
	.containerFormAndKeypad
		@extend .fHeight

.editorLayerStyle
	@extend .mediumTexturedContainer
	display flex
	flex-direction column
	.titleStyleContainer
		padding 1rem
		padding-left 3rem
		span
			fontSize 1.6rem
			color #ffd700
			font-weight bold
	.selectInputContainer
		padding 2rem
		border-bottom 3px solid #3a3a41
		> div
			display flex
			flex-direction column
			.leftContainer
				display flex
				align-items center
				margin-bottom 5px

	.optionsContainer
		display flex
		flex-direction row
		padding 5px 1rem
		> div
			height 3rem
			width 50%
			display flex
			justify-content center
			align-items center
			margin 0 5px
			border-bottom 1px solid white
			cursor pointer
			&.active
				border-bottom 1px solid $blue
				color $blue

	.formStyleContainer
		flex-grow 3
		display flex
		flex-direction column
		.containerFormAndKeypad
			display flex
			flex-grow 1
			justify-content space-between

.rangeSearch
	border 1px solid rgba($white, 0.7)
	border-radius 5px
	padding 0.3rem 1rem
	display flex
	justify-content flex-start
	min-width 31rem
	> div
		display flex
		align-items center
		width 16rem
		> div
			width 8rem

.kibana-dashboard
	width calc(100% - 4px)
	height calc(100% - 8px)
