.designLayoutContainer
	@extends .flexContainer
	@media (orientation portrait)
		flex-flow column


.mapAndContentLayoutMapWithSideContentDesign
	> .mapContainer
	> .mapSideContainer
		display flex
		position relative

	> .mapContainer
		flex-grow 1
		@media (orientation landscape)
			margin-right 0.3rem

			@media (min-resolution $mobile-min-density)
				@media (max-aspect-ratio 4/3), (min-aspect-ratio 6/1)
					display none

		@media (orientation portrait)
			margin-bottom 0.3rem

	> .mapSideContainer
		@media (orientation landscape)
			height 100%
			width 35%
			max-width 40rem

			@media (min-resolution $mobile-min-density)
				@media (max-aspect-ratio 4/3), (min-aspect-ratio 6/1)
					width 100%
					max-width 100%

		@media (orientation portrait)
			height 35%
			width 100%

.mapAndContentAndTopbarLayoutMapWithSideContentDesign
	@extends .flexContainer
	flex-flow column

	> .mapCenterContainer
		@extend .designLayoutContainer
		@extend .mapAndContentLayoutMapWithSideContentDesign
		position relative
		margin-top 0.3rem


.layoutListDesign
.layoutTextSearchListDesign
.layoutTextSearchFacetsListDesign
.layoutExternalTextSearchListDesign
	flex-flow column
	max-width 100%

	.centerZone
		flex-grow 1

.speciesMainTextSearchFacetsListDesign
	.facetsZone
		width 25rem !important


.atlasContainer
	@extends .flexContainer
	height 100%
	overflow hidden
