.designLayoutContainer
	@extends .flexContainer
	@media (orientation portrait)
		flex-flow column

.mapAndContentLayoutMapDesign
	> :first-child
	> :last-child
		display flex
		position relative

	> :first-child
		flex-grow 1
		@media (orientation landscape)
			margin-right 0.3rem

			@media (min-resolution $mobile-min-density)
				@media (max-aspect-ratio 4/3), (min-aspect-ratio 6/1)
					display none

		@media (orientation portrait)
			margin-bottom 0.3rem

	> :last-child
		@media (orientation landscape)
			height 100%
			width 35%
			max-width 40rem

			@media (min-resolution $mobile-min-density)
				@media (max-aspect-ratio 4/3), (min-aspect-ratio 6/1)
					width 100%
					max-width 100%

		@media (orientation portrait)
			height 35%
			width 100%

.layoutListDesign
.layoutTextSearchListDesign
.layoutTextSearchFacetsListDesign
	flex-flow column
	max-width 100%

	.centerZone
		flex-grow 1

.atlasContainer
	@extends .flexContainer
	height 100%
	overflow hidden
