/*
	Plantilla para la página de bienvenida a la aplicación.
*/

.titleWelcome
	flexible h space-between center
	cursor default

	.divTitle
		margin 0 auto
		textEllipsis()

		span
			fontSize 3.5rem

	span
		fontSize 4rem
		font-weight bold

	.colorWelcome
		color $grayLighter

.box
	.contentInfo
		fontSize 1.1rem
		margin 0.5rem
		color $grayLighter


.boxContainerBorder
	border-radius 0 0 5px 5px

.boxContainer
	showScroll()

	.favouritesBoxItems
		display flex
		flex-wrap wrap
		justify-content start
		align-items start

		.module
			flex-grow 1

			.button
				flex-grow 1

	.boxItems
		.module
			flexible h center center
			padding 0.5rem

			.button:hover, .activeBox
				fondo color $blue
			.disabled:hover
				background none
			.disabled
				opacity 0.5
			.button
				flexible v center space-between
				width 10rem
				height 5rem
				bordeRedondeado()
				sombreadoCaja o
				padding 1rem
				cursor pointer

				.iconModule
					align-self center
					fontSize 2rem

				.name
				.description
					display flex
					align-items center
					flex-grow 1
					align-self center
					text-align center

				.description
					margin 0 1rem
					margin-top 1rem
			.box
				min-height 150px
				.iconModule
					fontSize 3rem

		.lastActivityModule
			flexible h space-between center
			min-height 5rem
			padding 0 1rem

			span
				textEllipsis()
				margin-right 0.5rem

				.spanTemplate .subtitle
					color #bbb

			a
				fontSize 1.6rem

			&:hover
				fondo color $blue

				.spanTemplate
					.span, .status, .subtitle, .subtitle i, .iconList:hover, em
						color #fff !important

				a
					color #fff
					&:hover
						color grey

		.lastActivityModule:nth-child(odd)
			@extend .softSolidContainer

.domains
	overflow auto
	@extend .borderRadiusBottom

	.domainsBox
		display flex
		flex-wrap wrap
		justify-content start
		align-items start

		.boxButton
			flexible h center center
			flex-grow 1
			margin 0.5rem
			width 10rem
			cursor pointer
			.name
				display flex
				justify-content center
				align-items center
				height 5rem
				width 100%
				padding 0.5rem
				bordeRedondeado()
				sombreadoCaja o
				&:hover
					fondo color $blue

				span
					text-align center

a:hover
	text-decoration none

.domainsSpecial div
	text-decoration underline

.socialPanel
	display flex
	flex-wrap wrap
	align-items center
	justify-content flex-start
	> *
		fontSize 3rem
		color $white
		margin 0.2rem 0.5rem

.searchBarPanel
	display flex
	justify-content center
	padding 0 30%

	@media (max-width $media-high-size)
		padding 0 6rem
	@media (max-width $media-medium-size)
		padding 0 3rem
	@media (max-width $media-low-size)
		padding 0 1rem

	> div
		align-self center

.statsPanel
	display flex
