.notification
.userArea
.languageSelector
	display flex
	margin-left 0.5rem

	> div
		height 2.5rem
		width 2.5rem
		display flex
		justify-content center
		align-items center
		cursor pointer
		position relative

		i
			fontSize 1.6rem

.notification
.languageSelector
	> div:hover
		i
			color $blue

		span
			fondo color $blue

.userArea
	margin-right 1rem

	i:hover
		color $blue

	img
		width 100%
		height 100%
		border-radius 5px

.notification > div
.notificationSidebar .buttons .item
	span
		sombreadoTexto 1
		position absolute
		padding 0 5px
		font-size 9px
		right 2px
		background #51a351
		border-radius 5px
		width 1rem
		display flex
		justify-content center

.notificationSidebar
	z-index 1005
	position absolute
	right 0
	top $topbar-size !important
	height "calc(100% - %s)" % $topbar-size !important
	display flex
	flex-direction column
	width $notificationbar-size
	@media (max-width $media-high-size)
		width $notificationbar-size * 0.9
	@media (max-width $media-medium-size)
		width $notificationbar-size * 0.8
	@media (max-width $media-low-size)
		width $notificationbar-size * 0.5
	box-shadow 5px 0 10px 0 rgba($black, $shadowBoxOpacity)
	showScroll()

	.list
		height 100%
		display flex

.notificationSidebar
.notificationList
	.containerList .contentList
		background linear-gradient(right, $color13, rgba($colorGrayBlack, 0.9))
		border-radius 0
		.containerRow
			&:nth-child(odd)
				background-color transparent
			&:nth-child(even)
				background-color rgba($colorGrayBlack, 0.5)
				//background-color #494852
			color #fff
			span span span, .status, .subtitle, .subtitle i, .iconList:hover, em, .containerButtons > a,
			.containerButtons > i, .containerButtons > a i
				color #fff
			.notificationIcon
				font-size 2.2rem
				margin 0.5rem

	.containerList .framework
		border-radius 0
		background linear-gradient(right, $color13, rgba($colorGrayBlack, 0.9))

.warning
	color #FFE83A

.success
	color #51a351

.notice
	color #26ADE4

.error
	color red

.danger
	color #bd362f

.message
	color white

.notificationSidebar
	.buttons
		height 4rem
		width 100%
		display none
		//display flex
		background-color #222

		.item
			position relative
			width calc(100% / 3)
			cursor pointer
			display flex
			justify-content center
			align-items center
			border-right 1px solid $colorGrayBlack

			i
				color #ddd

			span
				right 30%
				top 4px

			span.alert
				background red

			&:hover
				background-color #494852

		.itemSelect
			height 4rem
			background rgba($black, 0.5)

			i
				color #fff

	.progressBar
		width 100%
		padding-top 5px

		.dijitProgressBarTile
			background-color $blue

.notificationSidebar.retiring
	animation retiringSidebarNotification 0.4s
	animation-fill-mode forwards

.notificationSidebar.overall
	animation overallSidebarNotification 0.4s
	animation-fill-mode forwards

@keyframes overallSidebarNotification
	0%
		transform translateX(100%)

	100%
		transform translateX(0%)

@keyframes retiringSidebarNotification
	0%
		transform translateX(0%)

	100%
		transform translateX(100%)

.swing
	animation-name swing
	animation-duration 2s
	animation-fill-mode forwards

@keyframes swing
	10%
		transform rotate3d(0, 0, 1, 15deg)
	20%
		transform rotate3d(0, 0, 1, -15deg)
	30%
		transform rotate3d(0, 0, 1, 15deg)
	40%
		transform rotate3d(0, 0, 1, -15deg)
	50%
		transform rotate3d(0, 0, 1, 15deg)
	60%
		transform rotate3d(0, 0, 1, -15deg)
	70%
		transform rotate3d(0, 0, 1, 15deg)
	80%
		transform rotate3d(0, 0, 1, -15deg)
	90%
		transform rotate3d(0, 0, 1, 7deg)
	100%
		transform rotate3d(0, 0, 1, -7deg)
	to
		transform rotate3d(0, 0, 1, 0deg)

.alertRestartAction
	.click
		color $blueStrong

		&:hover
			cursor pointer
			color $blue
