.languageSelector
.fullscreenToggle
.userArea
	display flex
	margin-left 0.5rem
	height 2.5rem
	width 2.5rem
	display flex
	justify-content center
	align-items center
	cursor pointer
	position relative

	&:hover
		color $blue

	i
		fontSize 1.6rem

.notification
	display flex
	margin-left 0.5rem

	> div
		height 2.5rem
		width 2.5rem
		display flex
		justify-content center
		align-items center
		cursor pointer
		position relative

		span
			sombreadoTexto 1
			fontSize 0.8rem
			position absolute
			top 0.2rem
			right 0.2rem
			padding 0.2rem 0.4rem
			background $green
			border-radius 5px

		&:hover
			color $blue

			span
				fondo color $blue
				color $white

		i
			fontSize 1.6rem

.languageSelector
	.flag
		width 2.5rem
		height 2.5rem
		background-size 2rem

.userArea
	margin-right 1rem

	img
		width 2.5rem
		height 2.5rem
		border-radius 5px

.containerNotificationSidebar
	@extend .contentDisplacedByTopbar
	position absolute
	right 0
	width $notificationbar-size
	@media (max-width $media-high-size)
		width $notificationbar-size * 0.9
	@media (max-width $media-medium-size)
		width $notificationbar-size * 0.8
	@media (max-width $media-low-size)
		width $notificationbar-size * 0.5
	z-index 3
	overflow hidden
	pointer-events none

	.notificationSidebar
		height 100%
		display flex
		flex-direction column
		box-shadow 5px 0 10px 0 rgba($black, $shadowBoxOpacity)
		overflow auto
		pointer-events initial

		&.retiring
			animation retiringSidebarNotification 0.4s
			animation-fill-mode forwards

		&.overall
			animation overallSidebarNotification 0.4s
			animation-fill-mode forwards

		.list
			height 100%
			display flex

		.progressBar
			width 100%
			padding-top 5px

			.dijitProgressBarTile
				background-color $blue

		// TODO eliminar este estilo si se decide omitir pestañas de notificaciones, por ahora oculto
		.buttons
			display none

.notificationSidebar
.notificationList
	.containerList .contentList
		background linear-gradient(right, $color13, rgba($colorGrayBlack, 0.9))
		border-radius 0

		.containerRow
			color #fff

			&:nth-child(odd)
				background-color transparent

			&:nth-child(even)
				background-color rgba($colorGrayBlack, 0.5)
				//background-color #494852

			span span span
			.status
			.subtitle
			.subtitle i
			.iconList:hover
			em
			.containerButtons > a
			.containerButtons > i
			.containerButtons > a i
				color #fff

			.notificationIcon
				font-size 2.2rem
				margin 0.5rem 1rem 0.5rem 0

			.spanTemplate
				.iconList
					font-size inherit

	.containerList .framework
		border-radius 0
		background linear-gradient(right, $color13, rgba($colorGrayBlack, 0.9))

.warning
	color #FFE83A

.success
	color #51a351

.notice
	color #26ADE4

.error
	color red

.danger
	color #bd362f

.message
	color white

@keyframes overallSidebarNotification
	0%
		transform translateX(100%)

	100%
		transform translateX(0%)

@keyframes retiringSidebarNotification
	0%
		transform translateX(0%)

	100%
		transform translateX(100%)

.swing
	animation-name swing
	animation-duration 2s
	animation-fill-mode forwards

@keyframes swing
	10%
		transform rotate3d(0, 0, 1, 15deg)
	20%
		transform rotate3d(0, 0, 1, -15deg)
	30%
		transform rotate3d(0, 0, 1, 15deg)
	40%
		transform rotate3d(0, 0, 1, -15deg)
	50%
		transform rotate3d(0, 0, 1, 15deg)
	60%
		transform rotate3d(0, 0, 1, -15deg)
	70%
		transform rotate3d(0, 0, 1, 15deg)
	80%
		transform rotate3d(0, 0, 1, -15deg)
	90%
		transform rotate3d(0, 0, 1, 7deg)
	100%
		transform rotate3d(0, 0, 1, -7deg)
	to
		transform rotate3d(0, 0, 1, 0deg)

.alertRestartAction
	.click
		color $blueStrong

		&:hover
			cursor pointer
			color $blue
