/*
	Autor: Carlos González

	Archivo: redmic\public\stylesheets\redmic\Profile.styl

	Plantilla para la página de profile.

	Fecha última modificación: 10/12/2014  Carlos
*/


.profile
	flexible h center center
	border-radius 2rem
	@extend .shadowBox

	.menuProfile
		border-radius 2rem 0 0 2rem
		width 170px
		.headerMenu
			text-decoration none
			margin 2rem 0 1rem 0
			flexible v center center
			cursor pointer
			height 14.4rem
			color $grayLighter

			.iconoUser
				font-size 10rem

			.nameProfile
				margin 2rem 0 2rem 0
				font-size 3rem

		.headerMenu:hover
			.iconoUser
				font-size 10.5rem
			.nameProfile
				margin-top 1rem

		.listMenu
			height auto

			.liMenu
				text-decoration: none;
				display flex
				.iconMenuFont
					font-size 20px

			.iconMenu
				flexible h center center
				width 45px

			.labelMenu
				flexible h center center
				span
					text-align left
		.fWidth
			width 100%

	.frameWindows
		border-radius 0 20px 20px 0
		width calc(100% - 170px)

		.windows
			margin 10px 10px 10px 0
			border-radius 0 10px 10px 0
			width calc(100% - 20px)
			height calc(100% - 40px)
			padding 10px 10px 10px 0

			.marginScroll
				width calc(100%)
				height calc(100%)
				showScroll()

				.flex
					flexible v center center

					.titleProfile
						width 95%
						font-size 3rem

						.titleWindows
							margin-left 2rem
							font-weight bold
							line-height 7rem

					.sectionWindows
						//showScroll()
						height calc(100% - 7rem)
						width 80%

						form
							height auto !important

						.separator
							margin-bottom 4%

						legend
							padding-left