.tooltipContainer
	position relative
	padding .8rem
	background-color $color13
	border 1px $grayLighter solid
	border-radius .5rem
	box-shadow $sombra-contenedor-externa-centrada-clara

	&.tooltipAboveSource
		margin-bottom .6rem

		.tooltipSourceIndicator
			bottom -1rem

			&:before
				@extend .fa-caret-down:before

	&.tooltipBelowSource
		margin-top .6rem

		.tooltipSourceIndicator
			top -1.05rem

			&:before
				@extend .fa-caret-up:before

	&.tooltipLeftSource
		.tooltipSourceIndicator
			right .3rem

	&.tooltipRightSource
		.tooltipSourceIndicator
			left .3rem

	.tooltipSourceIndicator
		@extend .fa
		position absolute
		fontSize 1.2rem
		color $grayLighter
		padding 0 .4rem
		filter drop-shadow(0 0 .1rem $grayLighter)

	// Contenido específico

	.inputInfoTooltipContent
		max-width 20rem

	.itemMenu
		margin-top 1rem
		cursor pointer
		color $white
		text-decoration none
		display flex
		align-items center

		&:first-child
			margin-top 0

		i
			width 2rem
			fontSize 1.2rem
			justify-content center
			display flex
			margin-right 10px

		&:hover
			i
			span
				color $blue

	.itemSelect
		i
		span
			color $blue

	.tooltipButtonMenu
		padding 0 !important

		.itemSelect
			background-color $blue

			i
			span
				color $white
				font-weight bold

		.itemMenu
			padding 0.5rem 2rem
			margin-top 0

			&:hover
				background-color $blue

				i
				span
					color $white

	.tooltipButtonChart
		margin-top 4px !important

	.tooltipButtonAggrement
		margin-bottom 5px !important

	.descriptionTooltip
		max-width 20rem

		.hrefInTooltip
			padding-top 1rem
			display flex
			justify-content flex-end

	.tooltipUser
		display flex
		align-items center
		padding-bottom 1rem
		border-bottom 1px solid $grayLighter

		> img
			width 7rem
			height 7rem
			margin-right 1rem
			border-radius 5px

		> div
			display flex
			flex-direction column

			.name
				fontSize 1.3rem

			.email
				color $grayLighter
