/*
	Plantilla para la barra superior.
*/

.topbar
	@extend .shadowBox
	left 0px !important
	width 100% !important
	fondo degradado topbar
	flexible h space-between center
	height $topbar-default-size
	@media (max-width $media-high-size)
		height $topbar-high-size
	@media (max-width $media-medium-size)
		height $topbar-medium-size
	@media (max-width $media-low-size)
		height $topbar-low-size
	noScroll()
	z-index 6

	.collapseSidebarButton
		@extend .fa
		@extend .highlightOnHover
		display flex
		justify-content center
		align-items center
		width $sidebar-default-size
		min-width 4rem
		@media (max-width $media-high-size)
			width $sidebar-high-size
		@media (max-width $media-medium-size)
			width $sidebar-medium-size
		@media (max-width $media-low-size)
			width $sidebar-low-size
		height 2.5rem
		fontSize 1.6rem
		color $grayLighter

		&:before
			@extend .fa-bars:before

	.topbarLogo
		@extend .highlightOnHover
		flexible h center center
		user-select none
		text-decoration none

		img
			width 2rem
			@media (max-width $media-medium-size)
				width 2.5rem

		span
			@extend .titleRedmic
			fontSize 2rem
			margin-left 0.5rem
			padding-bottom 0.2rem
			@media (max-width $media-high-size)
				padding-bottom 0
			@media (max-width $media-medium-size)
				display none

	.topbarContent
		display flex
		flex-grow 1
		margin-left 1rem

		> .manager
			display flex
			flex-grow 1

		> .buttons
			display flex
			align-items center

		.gobcan-logos
			display flex
			flex-grow 1
			flex-wrap wrap
			justify-content start
			align-items center
			padding .2rem

			> img
				max-height 2rem
				padding .2rem
				margin 0 .5rem

.contentDisplacedByTopbar
	top $topbar-default-size !important
	@media (max-width $media-high-size)
		top $topbar-high-size !important
	@media (max-width $media-medium-size)
		top $topbar-medium-size !important
	@media (max-width $media-low-size)
		top $topbar-low-size !important
	height "calc(100% - %s)" % $topbar-default-size !important
	@media (max-width $media-high-size)
		height "calc(100% - %s)" % $topbar-high-size !important
	@media (max-width $media-medium-size)
		height "calc(100% - %s)" % $topbar-medium-size !important
	@media (max-width $media-low-size)
		height "calc(100% - %s)" % $topbar-low-size !important

.manager
	flexible h space-between center
	flexibleGrow 1
	.left
		flexible h space-around center
		flexibleGrow 1
		.btnGroup
			flexible h center center
	.right
		flexible h right center
		miniMargined h
		.btnGroup
			margin 0 3px
			flexible h right center

.listMenu
	.flag
		height 1.5rem
