/*
	Plantilla para la barra superior.
*/


.topbar
	@extend .shadowBox
	left 0px !important
	width 100% !important
	fondo degradado topbar
	flexible h space-between center
	border-bottom $borde1
	height $topbar-size
	noScroll()

.topbarLogo
	flexible h center center
	min-width 115px
	margin-left 7px

	img.logo
		width 115px

.manager
	flexible h space-between center
	flexibleGrow 1
	.left
		flexible h space-around center
		flexibleGrow 1
		.btnGroup
			flexible h center center
	.right
		flexible h right center
		miniMargined h
		.btnGroup
			margin 0 3px
			flexible h right center

.displace
	margin-left -13px

.containerSelectionBox
	display flex
	align-items center

	.seeSelection
		display flex
		align-items center
		margin-left 0.5rem
		> span
			padding-right 1rem
		select
			min-width 9rem
	.active
		select
			border-color rgba(4, 156, 219, 0.5) !important
			background-color rgba(4, 156, 219, 0.5)
			background-image none !important
			option
				background-color white

	.selectionBox
		cursor default
		display flex
		align-items center
		padding 0 4px
		justify-content space-between

.userAreaGuest
	padding 0 2rem

	a
		color white
		text-decoration none
		cursor pointer
		&:hover
			color $blue
		margin-right 3rem

	a:last-child
		margin-right 0

.versionNumber
	color #aaa
	fontSize 1.2rem
	padding 0 10px
	user-select none

.listMenu
	.flag
		height 1.5rem
