.db
	.dijitSpinnerButtonContainer.dijitButtonNode
		@extend .db .dijitComboBox .dijitButtonNode
		@extend .db .dijitComboBox .dijitButtonNode.dijitArrowButton

	.dijitSpinnerDisabled .dijitButtonNode
		@extend .db .dijitComboBoxDisabled .dijitButtonNode

	.dijitSpinnerButtonContainer
		text-shadow none !important

	.dijitSpinnerButtonContainer.dijitButtonNode
		padding 0px !important
