.db
	.dijitSelect
		border none
		color $white

		&:focus-within
			@extend .db .dijitTextBoxFocused

			td
				@extend .db .dijitTextBoxFocused

				&:first-child
					border-right 1px solid $inputBorder

	.dijitSelect .dijitButtonNode
		@extend .db .dijitComboBox .dijitButtonNode

	.dijitSelect .dijitButtonNode.dijitArrowButton
		@extend .db .dijitComboBox .dijitButtonNode.dijitArrowButton

	.dijitSelect .dijitButtonContents
		border-radius $inputBorderRadius 0 0 $inputBorderRadius
		border 1px solid $inputBorder
		fullSize h

		&:last-child
			border-left none


	// Disabled
	.dijitSelect.dijitSelectDisabled .dijitButtonContents
		opacity 0.5

	.dijitSelect.dijitSelectDisabled
		@extend .db .dijitTextBoxDisabled

		td
			box-shadow none
			border-color $inputBorder


	.dijitSelectDisabled .dijitButtonNode
		@extend .db .dijitComboBoxDisabled .dijitButtonNode


	// Custom
	.dijitComboBox input.dijitArrowButtonInner
	.dijitSelect input.dijitArrowButtonInner
		display inline
		font-size $baseFontSize
		width 1em

	form
	.dijitTooltipContainer
		.dijitArrowButtonInner
			color $white

	.dijitSelect .dijitButtonNode
		color $white
		text-shadow none
		border-bottom-color $btnBorder

		&.dijitArrowButton
			padding 5px 11px
			&.dijitArrowButtonContainer
				fontSize 1rem

	.dijitArrowButtonContainer
	.dijitSpinnerButtonContainer
		background-color $color10 !important
		background-color $color1 !important
		box-shadow none !important
		fontSize 2rem

	.dijitMenuNextButton
	.dijitMenuPreviousButton
		bordeRedondeado()
		miniMargined()
		fondo color $blueDark
		text-align center
