/*
	Plantilla para redefinir algunos aspectos de Alertify.
*/



@import '../submodules/alertify/build/css/alertify.min.css'
@import '../submodules/alertify/build/css/themes/default.min.css'

.verticalAlignAlertify
	vertical-align super

.iconBanAlertify
	color red
	margin-right 1rem

.iconDownloadReport
	margin-left 1rem