@import '../submodules/dojox/widget/ColorPicker/ColorPicker.css'

.dojoxColorPickerOptional input
	width 35px
	color black

.dojoxColorPickerHex
	input
		width 75px
	padding-left 1rem

.dojoxColorPickerPreviewContainer
	padding-left 2.5rem

.dojoxColorPickerPreview
	width 35px
	height 35px

.dojoxColorPicker
	display flex
	justify-content center
	background-color #ededed

.dojoxColorPickerUnderlay
	border 1px solid #cccccc
