@import '../dep/dijit/themes/dijit.css'

.db
	.dijitBorderContainer
		fullSize()

	.dijitSplitter
		miniMargined()
		fondo color $color13
		bordeRedondeado()
		box-shadow $sombra-c $shadowBoxBlurRadius $shadowBoxSpreadRadius rgba($black, $shadowBoxOpacity), inset $sombra-c $nano rgba($white, $shadowBoxOpacity)

	.dijitCalendarContainer table
		width 100%

	.dijitTextBox input.dijitArrowButtonInner
		text-indent 0em !important

	.dijitA11ySideArrow
		display inline-block !important

	.dijitCalendarIncrementArrow
	.dijitCalendarDecrementArrow
		position relative
		fontSize 2rem
		padding 0 1rem
		cursor pointer
