@import '../submodules/dropzone/dist/min/dropzone.min.css'

.dropzone
	bordeRedondeado()
	background-color $color13
	border 1px solid $inputBorder
	padding 0.1rem
	min-height 15rem
	flex-direction column
	.dz-preview
		miniMargined()
		miniPadded()
		bordeRedondeado()
		fondo color $white

		img
			max-width 100%

		.dz-details
			margin-bottom $mini

			.dz-size
				noDisplay()

		.dz-error-message
			top 160px !important

		.dz-error-mark
			path
				stroke $white
				stroke-opacity 0.5
				stroke-width 1.5px
				fill $red

	.dz-default.dz-message
		fullSize()
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		margin 0
		padding 0.5rem
		top 0
		left 0
		color $color6
		fondo none
		span
			display block
		.uploadIcon
			fontSize 2rem
			margin 0 1rem
			cursor pointer
