// Global

html
	font-family $baseFontFamily
	font-size $baseFontSize
	line-height $baseLineHeight
	color $textColor
	width 100%
	height 100%
	background $grayLight

body
	width inherit
	height inherit
	margin 0
	background inherit
	overflow hidden

*
	outline none

h1
	fontSize 1.5rem !important

a
	color $linkColor
	text-decoration none
	cursor pointer
	&:hover
		color $linkColorHover
		text-decoration underline

.db
	.dijitReadOnly *
	.dijitDisabled *
	.dijitReadOnly
	.dijitDisabled
		cursor not-allowed

.fHeight
	height 100%

.fWidth
	width 100%

.colorWhite
	color $grayLighter

.shadowBox
	box-shadow $sombra-s $shadowBoxBlurRadius $shadowBoxSpreadRadius rgba($black, $shadowBoxOpacity)

.titleRedmic
	font-family 'Exo 2',cursive
	color $yellowTitleRedmic

// Cosas de la plantilla y cosas generales

.padded
	megaPadded()

.clearfix
	noScroll()
	*zoom 1

.hidden
	noDisplay()

.occult
	noShow()

.bold
	font-weight bold

.clickable
	cursor pointer

// Para los iconos

.wormsLogo
	fondo imagen $worms-logo

.pdfLogo
	fondo imagen $pdf-logo
