@media (max-device-width: 1024px) and (min-device-width: 800px)
	body
		font-size 1rem
		font-size 10px

	.initial
		.titleWelcome
			span
				line-height 8rem
				font-size 4.5rem
			.fa
				font-size 1.5rem
		.boxRowInitial
			margin-left 1rem
			.box
				height calc(100% - 3rem)
				.boxContent
					height calc(100% - 2rem)
				.module
					margin 4px 0
					.button
						padding 5px 0

	nav.primary > ul > li, nav.secondary > ul li > a, .containerFacets .bucket .labelBucket, .spanTemplate .subtitle, .form-control
		font-size 1rem

	nav.secondary > ul li > a i, nav.primary > ul > li i
		font-size 2.2rem

	nav.secondary
		width 15rem

	.db .dijitButton .dijitButtonNode, .db .dijitDropDownButton .dijitButtonNode, .db .dijitComboButton .dijitButtonNode, .db .dijitToggleButton .dijitButtonNode, .db .dijitComboBox .dijitButtonNode, .db .dijitSpinnerButtonContainer.dijitButtonNode, .db .dijitSelect .dijitButtonNode
		padding 2px 10px

	.db .dijitButtonNode, .containerFacets .dijitTitlePaneTextNode, .db .dijitDialogTitle
		font-size 1.2rem

	.topZone .titleZone
		font-size medium

	.facetsZone
		width 21rem
		min-width 21rem

	.iconList
		font-size 13px

	.box
		.boxContainer
			height calc(100% - 2.5rem)
		.boxTitle
			height 2.5rem
	.box, .box .boxContent
		height 99%

	.domains
		.boxContainerDomain
			height calc(100% - 3rem)
			padding-top 0.5rem
		.boxRow
			margin 1rem 0 0 1.5rem
		.boxButton
			margin .5rem 0
			.name
				line-height 2.5rem

	.boxTaxonomy .boxContainer
		height calc(100% - 4rem)
		.boxButton .name
			line-height 3.5rem

	.dropzone .dz-default.dz-message .uploadIcon
		font-size 2rem

	.profile
		.frameWindows
			width calc(100% - 125px)
		.menuProfile
			width 125px
			.headerMenu .iconoUser
				font-size 7rem
			.headerMenu:hover
				.iconoUser
					font-size 8rem
			.listMenu .iconMenu
				width 60px

	.login
		.accessGroup
			max-width 300px
			min-width 300px
			.header
				.title
					height 5rem
					h1.titleRedmic
						font-size 6.5rem
						line-height 5rem
					img.logoRedmic
						width 19%
				h4.subtitle
					  font-size 1rem

@media (max-device-width: 800px)
	body
		font-size 0.8rem
		font-size 8px

	.contentContainer
		padding 5px

	nav.primary > ul > li, nav.secondary > ul li > a, .containerFacets .bucket .labelBucket, .spanTemplate .subtitle, .form-control
		font-size 0.8rem

	nav.primary > ul > li
		padding 5px 0
	nav.secondary > ul li > a
		padding-left 0

	nav.secondary > ul li > a i, nav.primary > ul > li i
		font-size 1.4rem

	nav.primary
		width 60px

	nav.secondary
		width 12rem

	nav.secondary.overall
		left 60px

	.db .dijitButton .dijitButtonNode, .db .dijitDropDownButton .dijitButtonNode, .db .dijitComboButton .dijitButtonNode, .db .dijitToggleButton .dijitButtonNode, .db .dijitComboBox .dijitButtonNode, .db .dijitSpinnerButtonContainer.dijitButtonNode, .db .dijitSelect .dijitButtonNode
		padding 2px 4px

	.db .dijitButtonNode, .containerFacets .dijitTitlePaneTextNode, .db .dijitDialogTitle
		font-size 1rem

	.topZone .titleZone
		font-size medium

	.facetsZone
		width 18rem
		min-width 18rem

	.iconList
		font-size 13px

	.initial
		.titleWelcome
			span
				line-height 6rem
				font-size 3.5rem
			.fa
				font-size 1.5rem
		.boxRowInitial
			margin-left 1rem
			.box
				height calc(100% - 2rem)
				.boxContent
					height calc(100% - 2rem)
				.module
					margin 4px 0
					.button
						padding 3px 0

	.box
		.boxContainer
		 	height calc(100% - 2.5rem)
		.boxTitle
			height 2.5rem
		.lastActivityModule
			min-height 2rem
	.box, .box .boxContent
		height 99%

	.domains
		.boxContainerDomain
			height calc(100% - 3rem)
			padding-top 0.5rem
		.boxRow
			margin 1rem 0 0 1.5rem
		.boxButton
			margin .5rem 0
			.name
				line-height 2.2rem

	.dropzone .dz-default.dz-message .uploadIcon
		font-size 2rem

	.profile
		.frameWindows
			width calc(100% - 100px)
			.windows .marginScroll .flex
				.titleProfile
					font-size 2rem
					.titleWindows
						line-height 2rem
				.sectionWindows
					.separator
						margin-bottom 0
					.form-horizontal legend
						font-size 1.2rem
		.menuProfile
			width 100px
			.headerMenu
				height 10rem
				.iconoUser
					font-size 5rem
				.nameProfile
					margin 1rem 0 2rem 0
					font-size 2rem
			.headerMenu:hover
				.iconoUser
					font-size 6rem
			.listMenu
				.liMenu .iconMenuFont
					font-size 15px
				.iconMenu
					width 50px

	.login
		.accessGroup
			padding 15px 15px 10px
			max-width 230px
			min-width 230px
			.header
				.title
					height 3.5rem
					h1.titleRedmic
						font-size 5rem
						line-height 3.5rem
					img.logoRedmic
						width 18%
				h4.subtitle
					  font-size 0.8rem
			.boxLabel
				margin-top 0