/*
	Autor: Pedro E. Trujillo Brito

	Archivo: redmic\public\stylesheets\layout\Dialog.styl

	Plantilla para los Dialog (pop-up) de DOJO.

	Fecha última modificación: 28/11/2014
*/



// Todos los Dialog

.db
	.dijitDialog
		color $white
		border 1px solid $colorLoginTextBox
		sombreadoCajaInv o
		bordeRedondeado()
	.dijitDialogUnderlay
		fondo color $black
		opacity $mediumOpacity
		opacity $highOpacity
	.dijitDialogTitle
		fontSize $normalFontSize
		negrita()
		sombreadoTexto()
	.dijitDialogCloseIcon
		.maxIcon
			margin-right 5px
			padding-top 1px
		.closeText, .maxIcon
			display inline
			position relative
			float right
			fontSize $bigFontSize
			//negrita()
			color $white
			sombreadoTexto()
			opacity $highOpacity
	.dijitDialogCloseIconHover
		.closeText, .maxIcon
			opacity $fullOpacity

.dijitDialog-xs
	height 25%

.dijitDialog-sm
	height 40%

.dijitDialog-md
	height 60%

.dijitDialog-lg
	height 80%



// Todos los Dialog

.dialogComplex
.dialogSimple
	noPadding !important
	display flex
	flex-flow column
	flex-grow 1
	background $grayLight

	.dijitDialogTitleBar
		padding $semi $big
		fondo degradado buttonLogin
		border-bottom 1px solid $color2

	.dijitDialogPaneContent
		display flex
		flex-grow 1
		padding 0.3rem

		& > div
			height unset


// Dialog pequeño

.dialogSimple
	.dijitDialogTitleBar
		border-bottom $borderDark
		padding $micro $semi
		fondo degradado buttonLogin


// Botonera

.keypad
	display flex
	flex-flow row
	justify-content space-between
	align-items center
	flex-grow 1
	flex-wrap wrap
	noScroll()
	box-shadow $sombra-s rgba($white, $lowOpacity) !important
	border $borderType $color12
	fondo color $color5
	min-height 30px

	& > div
		display flex
		flex-flow row
		justify-content center
		align-items center
		miniMargined()

		.btnGroup
			display flex
			flex-flow row
			align-items center
			miniMargined h

	.left
		.btnGroup
			justify-content left

	.center
		.btnGroup
			justify-content center

	.right
		.btnGroup
			justify-content right


.backgroundNone
	background none
